@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.item_loader {
	@include run-gradient-slide();
	width: 100%;
	height: 2.6rem;
	border: 1px solid $var-border-white-hight-transparent
}

@include anim-gradient-slide();