@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.aside_container {
	@include component-container(0rem);
	transition: width $var-transition-time-m ease;
	width: 13rem;

	.aside_logo_container {
		padding: $var-padding-l;
		width: 100%;

		img {
			width: $var-size-xxl;
			height: $var-size-l;
		}
	}

	.aside_links_container {
		border-bottom: $var-border-white-hight-transparent;
		padding-bottom: $var-padding-m;
		margin-bottom: $var-margin-m;
	}
}

.aside_container_close {
	transition: width  $var-transition-time-m ease;
	width: 5rem;

	a {
		justify-content: center;

		.aside_link_name {
			display: none
		}
	}
}