@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.description_card_container {
	padding: $var-padding-l $var-padding-xxxxl;
	box-shadow: $var-box-shadow-container;
	border: $var-border-white-hight-transparent;
	
	div > svg {
		width: $var-size-l;
		height: $var-size-l;
	}

	.description_card_text {
		color: $var-color-white-hight-transition;
	}
}