@use "@/scss/variabel" as *;
@use "@/scss/mixin" as *;

.file_explorer_container {
	padding: $var-padding-l $var-padding-l $var-padding-l 0;
	box-shadow: $var-box-shadow-container;
	border: $var-border-white-hight-transparent;
	background-color: $var-color-black-hight-transparent;
	width: 20rem;
	max-height: 20rem;
	overflow-y: auto;
}