@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.text_input_container {
	position: relative;

	.text_input_body {
		position: relative;

		& > input {
			@include component-container($var-padding-m $var-padding-xl);
			transition: all $var-transition-time-s;
			background: none;
			width: 100%;
			color: white;
		
			&::placeholder {
				color: white;
			}
		}

		.text_input_password_exposer {
			@include abs-top-right(50%, 1%, 1, fit-content, fit-content);
			transform: $var-translate-center-center;
			cursor: pointer;
		}
	}
}

.text_input_container_with_error > div > input {
	color: $var-color-hell-red;
	border: 1px solid $var-color-hell-red !important;

	&::placeholder {
		color: $var-color-hell-red !important;
	}
}