@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.file_input_container {
	position: relative;
	cursor: pointer;
	border: $var-border-white-hight-transparent;
	padding: $var-padding-l;
	box-shadow: $var-box-shadow-container;
	width: calc($var-size-xxxxl * 4);
	height: calc($var-size-xxxxl * 3);

	svg {
		width: $var-size-xl;
		height: $var-size-xl;
	}

	.file_input_upload_container {
		position: relative;

		img {
			display: block;
			width: 100%;
		}
	}
}