@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.skeleton_bordered {
	margin-bottom: $var-margin-s;
	padding-bottom: $var-padding-l;
	border-bottom: $var-border-white-hight-transparent;

	&:last-child {
		margin-bottom: 0rem;
		border-bottom: 0rem;
		padding-bottom: 0rem;
	}
}