@use "../variabel" as *;

* {
	font-family: "Sora";
	user-select: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: none;
	color: white;
	
	&:focus {
		outline: none;
	}

	&:before,
	&:after {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		border: none;
	}
}

body {
	overflow: hidden;
	background-color: #1e2d40;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: auto;
}

header, 
main, 
footer {
	width: 100%;
}

a {
	text-decoration: none;
	width: fit-content;
	display: block;
	color: white;
	
	&:hover,
	&:visited {
		text-decoration: none;
	}
}

ul {
	list-style: none;
}

button {
	background-color: transparent;
	border: none;
	width: fit-content;
	cursor: pointer;
}