@forward "./reset/default";
@forward "./reset/input";

@forward "./global/flex-column.scss";
@forward "./global/flex-row.scss";

@use "./mixin" as *;
@use "./variabel.scss" as *;

.app_body {
	flex-grow: 1;
	overflow-y: auto;
	height: 100vh;
}

.line {
	display: flex;
	gap: 0.1rem;
	width: 100%;
}

.keyword_const {
	color: #e5c07b !important;
}

.punctuation_assign {
	color: #56B6C2;
}

.specific_string_literal {
	color: #98C379;
}

.specific_identifier {
	color: #e06c75;
}

.specific_keyword {
	color: #C678DD;
}

.keyword_function {
	color: #61afef;
}