	/* PADDING */
	$var-padding-xs:    0.25rem;
	$var-padding-s:     0.5rem;
	$var-padding-m:     0.75rem;
	$var-padding-l:     1rem;
	$var-padding-xl:    1.25rem;
	$var-padding-xxl:   1.5rem;
	$var-padding-xxxl:  1.75rem;
	$var-padding-xxxxl: 2rem;
	/* PADDING */
	/* MARGIN */
	$var-margin-xs:    0.25rem;
	$var-margin-s:     0.5rem;
	$var-margin-m:     0.75rem;
	$var-margin-l:     1rem;
	$var-margin-xl:    1.25rem;
	$var-margin-xxl:   1.5rem;
	$var-margin-xxxl:  1.75rem;
	$var-margin-xxxxl: 2rem;
	/* MARGIN */
	/* FONT */
	$var-font-xs:    0.5rem;
	$var-font-s:     0.65rem;
	$var-font-m:     0.8rem;
	$var-font-l:     0.95rem;
	$var-font-xl:    1.15rem;
	$var-font-xxl:   1.3rem;
	$var-font-xxxl:  1.45rem;
	$var-font-xxxxl: 1.6rem;
	/* FONT */
	/* GAP */
	$var-gap-xs:    0.5rem;
	$var-gap-s:     0.65rem;
	$var-gap-m:     0.8rem;
	$var-gap-l:     0.95rem;
	$var-gap-xl:    1.15rem;
	$var-gap-xxl:   1.3rem;
	$var-gap-xxxl:  1.45rem;
	$var-gap-xxxxl: 1.6rem;
	/* GAP */
	/* WIDTH AND HEIGHT */
	$var-size-xs:    0.9rem;
	$var-size-s:     1.15rem;
	$var-size-m:     1.4rem;
	$var-size-l:     1.65rem;
	$var-size-xl:    1.9rem;
	$var-size-xxl:   2.15rem;
	$var-size-xxxl:  2.4rem;
	$var-size-xxxxl: 2.65rem;
	/* WIDTH AND HEIGHT */
	/* BORDER RADIUS */
	$var-border-radius-xs:    5px;
	$var-border-radius-s:     6px;
	$var-border-radius-m:     7px;
	$var-border-radius-l:     8px;
	$var-border-radius-xl:    9px;
	$var-border-radius-xxl:   10px;
	$var-border-radius-xxxl:  11px;
	$var-border-radius-xxxxl: 12px;
	/* BORDER RADIUS */
	/* BORDER */
	$var-border-white-hight-transparent: 1px solid #ffffff13;;
	/* BORDER */
	/* TRANSLATE */
	$var-translate-top-center: translate(-50%, 0%);
	$var-translate-center-center: translate(-50%, -50%);
	/* TRANSLATE */
	/* TRANSITION TIME */
	$var-transition-time-xs:    0.2s;
	$var-transition-time-s:     0.3s;
	$var-transition-time-m:     0.4s;
	$var-transition-time-l:     0.5s;
	$var-transition-time-xl:    0.75s;
	$var-transition-time-xxl:   1s;
	$var-transition-time-xxxl:  1.5s;
	$var-transition-time-xxxxl: 2s;
	/* TRANSITION TIME */
	/* BOX SHADOW */
	$var-box-shadow-container: 5px 5px 5px -3px #0808084d;
	/* BOX SHADOW */
	/* WIDTH */
	$var-width-header-websitename: 10.5rem;
	/* WIDTH */
	/* COLOR */
	$var-color-white-hight-transition: #fefefe80;
	$var-color-hell-blue: #7d7dff;
	$var-color-hell-blue-hight-transparent: #7d7dff33;
	$var-color-hell-red: #ff7d7d;
	$var-color-dark-red: #500;
	$var-color-hell-salat: #01ffc3;
	$var-color-hell-salat-hight-transparent: #01ffc42c;
	$var-color-hell-red-hight-transparent: #ff7d7d26;
	$var-color-black-hight-transparent: #0000004d;
	/* COLOR */
	
// 7d7dff33
// #1e2d40
// #0be1ae
// #01ffc3
