@use "@scss/variabel" as *;
@use "@scss/mixin" as *;

.project_container {
	border-bottom: $var-border-white-hight-transparent;
	padding-bottom: $var-padding-m;
	transition: all 0.2s;
	cursor: pointer;

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	&:hover {
		transition: all 0.2s;
	}

	.project_visibility_type {
		padding: $var-padding-xs $var-padding-l;
		font-size: $var-font-m;
		border-radius: $var-border-radius-xxxxl;
		background-color: $var-color-black-hight-transparent;
	}

	.project_description {
		color: $var-color-white-hight-transition;
	}
}