@use "@/scss/variabel" as *;
@use "@/scss/mixin" as *;

.user_section_container {
	& > img {
		box-shadow: $var-box-shadow-container;
		width: $var-size-xxxxl;
		height: $var-size-xxxxl;
		object-fit: cover;
		border-radius: 50%;
		image-rendering: pixelated;
	}
}